include ../../elements/b-button-square/b-button-square.pug

mixin b-advertising(modification)
    aside.b-card-advertising.b-container.b-container--no-padd-table.b-container--no-padd-mobile(class=modification ? modification.modificationAside: "")
        .b-card-advertising__container(class=modification ? modification.modificationPicture: "")
            .b-picture.b-picture--aside
                picture
                    source(type="image/webp" srcset="img/content/mobile/3-search/1/10-1x.webp 1x, img/content/mobile/3-search/1/10-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/3-search/1/10-1x.jpg 1x, img/content/mobile/3-search/1/10-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/3-search/1/1-1x.webp 1x, img/content/tablet/3-search/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/3-search/1/1-1x.jpg 1x, img/content/tablet/3-search/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/3-search/1/1-1x.webp 1x, img/content/desktop/3-search/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/3-search/1/1-1x.jpg 1x, img/content/desktop/3-search/1/1-2x.jpg 2x")
                    img(src="img/content/desktop/3-search/1/1-1x.jpg" alt="Фото")
                picture
                    source(type="image/webp" srcset="img/content/mobile/3-search/1/10-1x.webp 1x, img/content/mobile/3-search/1/10-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/3-search/1/10-1x.jpg 1x, img/content/mobile/3-search/1/10-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/3-search/1/1-1x.webp 1x, img/content/tablet/3-search/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/3-search/1/1-1x.jpg 1x, img/content/tablet/3-search/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/3-search/1/1-1x.webp 1x, img/content/desktop/3-search/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/3-search/1/1-1x.jpg 1x, img/content/desktop/3-search/1/1-2x.jpg 2x")
                    img(src="img/content/desktop/3-search/1/1-1x.jpg" alt="Фото")
                picture
                    source(type="image/webp" srcset="img/content/mobile/3-search/1/10-1x.webp 1x, img/content/mobile/3-search/1/10-2x.webp 2x" media="(max-width: 767px)")
                    source(type="image/jpeg" srcset="img/content/mobile/3-search/1/10-1x.jpg 1x, img/content/mobile/3-search/1/10-2x.jpg 2x" media="(max-width: 767px)")
                    source(type="image/webp" srcset="img/content/tablet/3-search/1/1-1x.webp 1x, img/content/tablet/3-search/1/1-2x.webp 2x" media="(max-width: 1023px)")
                    source(type="image/jpeg" srcset="img/content/tablet/3-search/1/1-1x.jpg 1x, img/content/tablet/3-search/1/1-2x.jpg 2x" media="(max-width: 1023px)")
                    source(type="image/webp" srcset="img/content/desktop/3-search/1/1-1x.webp 1x, img/content/desktop/3-search/1/1-2x.webp 2x")
                    source(type="image/jpeg" srcset="img/content/desktop/3-search/1/1-1x.jpg 1x, img/content/desktop/3-search/1/1-2x.jpg 2x")
                    img(src="img/content/desktop/3-search/1/1-1x.jpg" alt="Фото")
            +b-button-square({
                modificationColor: "white",
                modificationArrow: "left",
                modificationTitle: "Назад",
                        })
            +b-button-square({
                modificationColor: "green",
                modificationArrow: "right",
                modificationTitle: "Далее",
                        })
        strong.b-card-advertising__title(class=modification ? modification.modificationTitle: "") Распродажа классических коллекций
        .b-card-advertising__wrap(class=modification ? modification.modificationWrap: "")
            span.b-card-advertising__caption(class=modification ? modification.modificationPost: "") -20%
            span.b-card-advertising__post.b-card-advertising__post--margin  на&nbsp;коллекции MIO, ENGLAND, FIGURE
        .b-card-advertising__wrapper(class=modification ? modification.modificationWrapper: "")
            if (modification)
                .b-card-advertising__descr-doors &mdash;20% на коллекции MIO, ENGLAND, FIGURE
            .b-card-advertising__description(class=modification ? modification.modificationDescription: "") Успейте купить межкомнатные двери классической коллекции со скидкой&nbsp;20% до&nbsp;середины февраля.
            if (modification)
                a(href="").b-card-advertising__detailed-doors ПОДРОБНЕЕ
        .b-card-advertising__stock(class=modification ? modification.modificationStock: "") Акция действует до&nbsp;15&nbsp;февраля 2021г